extends ../../../common/_layout

block content
	style.
		@keyframes blink {
			0% {
			opacity: 1;
			}
			50% {
			opacity: 0;
			}
			100% {
			opacity: 1;
			}
		}
		.blink {
			animation: blink 1s linear infinite;
		}
	.container-fluid
		.row.mt-2
			.col-md-9
				.card
					.card-header 
						h4 Active Jobs
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#jobs-table
							thead
								tr
								tr
									th Name
									th Status
									th Loops
									th Job ID
									th Flow ID
									th Last Updated
							tbody
			.col-md-3
				.card
					.card-header 
						h4 Service APIs
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#apis-table
							thead
								tr
									th API
									th Status
							tbody
		.row.mt-4.text-center
			.col-md-2
				.card
					.card-body
						h5.card-title Open Jobs
						h2.card-text#open-count
			.col-md-2
				.card
					.card-body
						h5.card-title Pending Jobs
						h2.card-text#pending-count
			.col-md-2
				.card
					.card-body
						h5.card-title Looping Jobs
						h2.card-text#looping-count
			.col-md-2
				.card#blocked-card
					.card-body
						h5.card-title Blocked Jobs
						h2.card-text#blocked-count
			.col-md-2
				.card
					.card-body
						h5.card-title Completed Jobs
						h2.card-text#completed-count
			.col-md-2
				.card
					.card-body
						h5.card-title Total Jobs
						h2.card-text#total-count
		.row.mt-4
			.col-md-8
				.card
					.card-header 
						h4 Active Flows
					.card-body(style="height: 23vh; overflow-y: scroll;")
						table.table#flows-table
							thead
								tr
								tr
									th Name
									th Flow ID
									th Status
									th Loops
									th Last Updated
							tbody
				.card
					.card-header 
						h4 Active Projects
					.card-body(style="height: 23vh; overflow-y: scroll;")
						table.table#projects-table
							thead
								tr
									th Name
									th Status
									th Project ID
							tbody
			.col-md-4
				.card
					.card-header 
						h4 Job Runner
							i.fas.fa-circle.btn-success-outline.text-success.blink.ml-4
					.card-body(style="height: 23vh; overflow-y: scroll;")
						table.table#jobRuns-table
							thead
								tr
									th Run Time
									th Run ID
							tbody
				.card
					.card-header 
						h4 Recent Outputs
					.card-body(style="height: 23vh; overflow-y: scroll;")
						table.table#outputs-table
							thead
								tr
									th Output ID
									th Job ID
									th Created At
							tbody

	script(src="/static/socket.io.js")
	script(src="/static/js/dashboard.js")
	script.
		document.addEventListener('DOMContentLoaded', function() {
			const blockedCount = document.getElementById('blocked-count');
			const count = parseInt(blockedCount.textContent, 10);
			if (count > 0) {
				const blockCard = document.getElementById('blocked-card');
				blockedCard.classList.add('.btn-danger');
			}
		});
