extends ../../../common/_layout
include ../../../common/mixins/service.pug

block content
    .container-fluid.mt-3
        .row
            .col-md-12
                .card
                    .card-header
                        i.fas.fa-plus
                        span.ml-2 Add New Service
                    .card-body
                        form(action="/service/new" method="post")
                            .form-group
                                label Name
                                input.form-control(name="name")
                            .form-group
                                label Description
                                textarea.form-control(name="description")
                            .form-group
                                label API
                                input.form-control(name="api")
                            .form-group
                                label Port
                                input.form-control(type="number" name="port")
                            .form-group
                                label Endpoint
                                input.form-control(name="endpoint")
                            .form-group
                                label Icon
                                div.input-group
                                    span.input-group-prepend
                                        span.input-group-text
                                            i.fas.fa-icons
                                    input.form-control(name="icon")
                            .form-group
                                label Type
                                input.form-control(name="type")
                            .form-group.text-right
                                button.btn.btn-primary(type="submit")
                                    i.fas.fa-save
                                    span.ml-2 Save
