extends ../../../common/_layout

block content
	style.
		@keyframes blink {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		.blink {
			animation: blink 1s linear infinite;
		}

	.container-fluid
		.row.mt-2
			.col-md-9
				.card
					.card-header 
						h4 Active Jobs
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#jobs-table
							thead
								tr
								tr
									th Name
									th Status
									th Loops
									th Job ID
									th Last Updated
							tbody
				.card.mt-4
					.card-header 
						h4 Active Flows
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#flows-table
							thead
								tr
								tr
									th Name
									th Flow ID
									th Status
									th Loops
									th Last Updated
							tbody
				


			.col-md-3
				.card
					.card-header 
						h4 Service APIs
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#apis-table
							thead
								tr
									th API
									th Status
							tbody
				.card.mt-4
					.card-header 
						h4 Recent Outputs
					.card-body(style="height: 30vh; overflow-y: scroll;")
						table.table#outputs-table
							thead
								tr
									th Output ID
									th Job ID
									th Created At
							tbody
		.row
			.col-md-12
				.card
					.card-header
						i.fas.fa-circle.fa-3x.btn-success-outline.text-success.blink.float-right
						h4 Job Runner
					.card-body(style="height: 18vh; overflow-y: scroll;")
						table.table#jobRuns-table
							thead
								tr
									th Run Time
									th Run ID
							tbody

				

	script(src="/static/socket.io.js")
	script(src="/static/js/queue.js")
