extends ../../../common/_layout

block content
    .container-fluid
        .row
            .col-lg-12.mb-3
                .card
                    .card-body
                        form
                            .form-row
                                .form-group.col-md-3
                                    label(for="filterStatus") Filter by Status
                                    select#filterStatus.form-control
                                        option(value="") All
                                        option(value="open") Open
                                        option(value="pending") Pending
                                        option(value="completed") Completed
                                .form-group.col-md-3
                                    label(for="filterDate") Filter by Date
                                    input#filterDate.form-control(type="date")
                                .form-group.col-md-3
                                    label(for="filterService") Filter by Service
                                    select#filterService.form-control
                                        option(value="") All
                                        option(value="service1") Service 1
                                        option(value="service2") Service 2
                                .form-group.col-md-3.text-right
                                    button.btn.btn-primary(type="button")
                                        span.fas.fa-filter
                                        | Apply Filters

            each status, key in { "Open": "primary", "Pending": "warning", "Completed": "success" }
                .col-4
                    .card
                        .card-header(class="bg-" + key + " text-white")
                            h3
                                span.fas.fa-tasks.mr-2
                                | #{status} Jobs
                        .card-body
                            .list-group
                                - for (var i = 0; i < 3; i++)
                                    a.list-group-item.list-group-item-action(href="#" data-toggle="modal" data-target="#jobModal") Job #{i + 1} - #{status}
        
        .row.mt-4
            .col-lg-12
                .card
                    .card-header
                        h3
                            span.fas.fa-chart-line.mr-2
                            | Uptime Status Timeline
                    .card-body
                        p Lorem ipsum dolor sit amet.

        .row.mt-4
            .col-lg-12
                .card
                    .card-header
                        h3
                            span.fas.fa-cogs.mr-2
                            | Service API Endpoints Status
                    .card-body
                        table.table
                            thead
                                tr
                                    th Status
                                    th Endpoint
                                    th Action
                            tbody
                                each endpoint, key in [ "start", "stop", "pause", "resume" ]
                                    tr
                                        td
                                            span.fas.fa-check-circle.text-success
                                        td /api/v1/#{endpoint}
                                        td
                                            a.btn.btn-secondary(href='#')
                                                span.fas.fa-cog
                                                | Configure

        .row.mt-4
            .col-lg-12.text-center
                button.btn.btn-primary.btn-lg.mr-2(type="button")
                    span.fas.fa-play.mr-1
                    | Start
                button.btn.btn-warning.btn-lg.mr-2(type="button")
                    span.fas.fa-pause.mr-1
                    | Pause
                button.btn.btn-danger.btn-lg.mr-2(type="button")
                    span.fas.fa-stop.mr-1
                    | Stop
                button.btn.btn-info.btn-lg(type="button")
                    span.fas.fa-sync-alt.mr-1
                    | Restart

        .modal.fade#jobModal(tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5#jobModalLabel.modal-title Job Details
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        .form-row
                            .form-group.col-md-6
                                label(for="job-name") Job Name
                                input#job-name.form-control(type="text" value="Job 1" disabled)
                            .form-group.col-md-6
                                label(for="job-status") Status
                                input#job-status.form-control(type="text" value="Open" disabled)
                        .form-group
                            label(for="job-description") Description
                            textarea#job-description.form-control(rows="3" disabled) Dummy job description.
                        .form-group
                            label(for="job-service") Service
                            input#job-service.form-control(type="text" value="Service 1" disabled)
                        .form-group
                            label(for="job-uptime") Uptime
                            input#job-uptime.form-control(type="text" value="99.99%" disabled)
                        .form-group
                            label(for="job-last-run") Last Run
                            input#job-last-run.form-control(type="text" value="202")
                        .form-group
                            label(for="job-error") Last Error
                            input#job-error.form-control(type="text" value="None" disabled)
                    .modal-footer
                        button.btn.btn-primary(type="button")
                            span.fas.fa-play
                            | Start
                        button.btn.btn-warning(type="button")
                            span.fas.fa-pause
                            | Pause
                        button.btn.btn-danger(type="button")
                            span.fas.fa-stop
                            | Stop
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close




