extends ../../../common/_layout
include ../../../common/mixins/badge.pug

block content
    .container-fluid
        .row
            .col-md-2.mt-4
                include ./misc/sidenav.pug
            .col-md-8.mt-4
                include ./misc/mainnav.pug
            .col-md-2.mt-4
                include ./misc/details.pug
    include ./misc/modals.pug
    include ./misc/project.js.pug
    include ./misc/jobs.js.pug
