extends layout

block content
    .container
        h1.mt-4 #{group.type}
        ul.list-group
            each item in group.list
                li.list-group-item
                    a(href=`/${group.type}/${item._id}`)
                        | #{item._id}
                        i.fas.fa-file-alt.ml-2
