extends ../../../common/_layout

block content
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js')
    style.
        .jstree-clicked, .jstree-anchor:hover, .jstree-anchor:active {
            color: #000!important;
        }

    .container-fluid
        .row
            .col-md-8.offset-md-2
                .card
                    .card-body.bg-dark(style="height: 80vh; overflow-y: auto;")
                        div(id='tree')

    script.
      $(document).ready(function() {
        $.ajax({
          url: '/group/treeapi',
          method: 'GET',
          success: function(response) {
            $('#tree').jstree({
              'core': {
                'data': response.core.data
              },
              'plugins': ['search', 'sort', 'wholerow', 'checkbox', 'types', 'contextmenu'],
              'search': {
                'show_only_matches': true
              },
              'sort': function(a, b) {
                return this.get_text(a) > this.get_text(b) ? 1 : -1;
              },
              'types': {
                'default': {
                  'icon': 'fa fa-folder'
                },
                'file': {
                  'icon': 'fa fa-file'
                }
              },
              'contextmenu': {
                'items': function(node) {
                  return {
                    'Create': {
                      'label': 'Create',
                      'action': function() {}
                    },
                    'Rename': {
                      'label': 'Rename',
                      'action': function() {}
                    },
                    'Delete': {
                      'label': 'Delete',
                      'action': function() {}
                    }
                  };
                }
              }
            }).on("changed.jstree", function (e, data) {
              if(data.selected.length) {}
            }).on("open_node.jstree", function (e, data) {}).on("close_node.jstree", function (e, data) {});
          },
          error: function() {
            alert('Failed to load data.');
          }
        });
      });
